.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.card-container {
    perspective: 1000px;
  }
  
  .card {
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
  }
  
  .back {
    transform: rotateY(180deg);
  }